html,body
{
    height:100%;
    width:100%;
}
body{
    font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}


hr
{
    border-color: #f05f40;
    border-width: 3px;
    max-width: 50px;
}
hr.light
{
    color:white;
}
#b1{
    color:white;
}

#b2 , #b3
{
    color:#f05f40;;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p
{
    font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #f05f40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center;
  background-image: url('http://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg');
  text-align: center;
  color: white;
}


header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
