hr
{
    border-color: #f05f40;
    border-width: 3px;
    max-width: 50px;
}

header{
background-image:url("http://blackrockdigital.github.io/startbootstrap-creative/img/header.jpg");
height:100%;
width:100%;

}
